<a href="https://colab.research.google.com/github/lcanoi/MachineLearning_NoFrameworks/blob/main/MomentoRetro_M2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Momento de Retroalimentación: Módulo 2 Implementación de una técnica de aprendizaje máquina sin el uso de un framework.

In [1]:
from google.colab import drive

drive.mount("/content/gdrive")  
!pwd  # show current path

Mounted at /content/gdrive
/content

In [2]:
%cd "/content/gdrive/MyDrive/Colab Notebooks/Data1"
!ls  # show current directory

/content/gdrive/MyDrive/Colab Notebooks/Data1
adult.data  iris.data  iris.names  wine.data  wine.names

In [5]:
import pandas as pd

wineColumns = ["output",'f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13']
df = pd.read_csv('wine.data', names=wineColumns)

input = df[['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13']]
output = df['output']

print('In:\n', input.head())
print('Out: \n', output.head())

In:
       f1    f2    f3    f4   f5    f6    f7    f8    f9   f10   f11   f12  \
0  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

    f13
0  1065
1  1050
2  1185
3  1480
4   735
Out:
 0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64